# Data Cleaning

## Filling the missing values

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
dataset= pd.read_excel("D:\Study\Machine Learning\Data Cleaning\dataset1.xlsx")

In [8]:
print(dataset)

     type Urgency severity  priority
0    Task     low    minor       4.0
1    Task     NaN    minor       4.0
2    Task     low    minor       NaN
3    Task     low      NaN       4.0
4    Task     NaN    minor       4.0
..    ...     ...      ...       ...
485  Task     low    minor       4.0
486  Task     low    minor       4.0
487   Bug     low    minor       4.0
488   Bug     low    minor       4.0
489  Task     low    minor       4.0

[490 rows x 4 columns]

## filling 10 at the place of missing values

In [11]:
# dataset.fillna(10)

## forward filling

In [14]:
# dataset.fillna(method="ffill")

## forward filling along column

In [16]:
# dataset.fillna(method="ffill", axis=1)

## backward filling

In [20]:
#dataset.fillna(method="bfill")

## backward filling along column

In [22]:
#dataset.fillna(method="bfill", axis=1)

## Mode

In [25]:
dataset.fillna(dataset.mode()[0])

     type Urgency severity  priority
0    Task     low    minor       4.0
1    Task     4.0    minor       4.0
2    Task     low    minor       4.0
3    Task     low      4.0       4.0
4    Task     4.0    minor       4.0
..    ...     ...      ...       ...
485  Task     low    minor       4.0
486  Task     low    minor       4.0
487   Bug     low    minor       4.0
488   Bug     low    minor       4.0
489  Task     low    minor       4.0

[490 rows x 4 columns]